/* You can add global styles to this file, and also import other style files */
@import "./typography";

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
